<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue | Practice</title>
</head>
<body>

<div id="list_rendering">
    <h4>{{welcome}} in array</h4>
    <ul>
        <li v-for="friend in friendArr">{{friend}}</li>
    </ul>
    <hr>
    <h4>{{welcome}} in array object</h4>
    <ul>
        <li v-for="friend in friendObj">Name :{{friend.name}} / Age : {{friend.age}} / Live : {{friend.place}}</li>
    </ul>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var listRendering = new Vue({
        el : "#list_rendering",
        data : {
            welcome : "List rendering",
            friendArr : ['Helal','Kayum', 'Rasel', 'Saiful', 'Kiron', 'Jahid', 'Al Amin'],
            friendObj : [
                {name : 'Helal', age:28, place : 'Singapore'},
                {name : 'Kayum', age:28, place : 'Bangladesh'},
                {name : 'Rasel', age:28, place : 'Malayasia'},
                {name : 'Saiful', age:28, place : 'Chittagong'},
                {name : 'Kiron', age:28, place : 'Rongpur'},
                {name : 'Jahid', age:28, place : 'Bangladesh'},
                {name : 'Al Amin', age:28, place : 'Soudi Arab'},
            ]
        }
    });
</script>
</body>
</html>