<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue | Practice</title>
</head>
<body>

<div id="app">
    <h1>{{heading}}</h1>
    <hr>
    <div>
        Your marks :
        <span v-if="marks > 90">{{ marks }} - Outstanding</span>
        <span v-else-if="marks >= 80">{{ marks }} - Briliant</span>
        <span v-else-if="marks >= 50">{{ marks }} - Good</span>
        <span v-else-if="marks >= 0 && marks != null">{{ marks }} - Ah! Failed</span>
        <span v-else>Not applicable</span>
        <br>
        <br>
        <input type="text" v-model="marks">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let app = new Vue({
        el : "#app",
        data : {
            heading : "Conditional - v-if, v-else-if, else",
            marks : null
        }
    });
</script>
</body>
</html>